@page "/Projects"

<h1>Projects</h1>

<p>On this page I will show you some of the projects that I have done. I do like shipping final products, however I also love experimenting with new technologies, for example this whole website is made using Blazor, doig thigs with the Graph API may not give a full product, since a lot of the new things that I try are in the testing phase so there are many bugs which limit the amount I am able to achieve, especially since I am trying from an non-employee perspective with limited resources</p>

<div style="max-width: 70%; float: left; margin-right: 20px;">
@foreach (var project in projects.projects)
{
    <div>
        <h1 style="margin-top: 30px; margin-bottom: 0px;">@project.Title</h1>
        <p><i>@project.Subtitle</i></p>
        <div style="min-height: 315px; margin-bottom: 0px;">
            @if (project.ImagePath != null)
            {
                <p>

                    <iframe style="float: left; margin-right: 50px;" id="demo" width="560" height="315" src="@project.ImagePath" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


                    @project.Description
                </p>

            }
        </div>
    </div>
}
</div>
<div style="float: left; max-width: 30%; margin-top: 30px;">
    <h1>Get in contact!</h1>
    @foreach (var input in inputsEnum.inputList)
    {
        <input type="@input.type" placeholder="@input.placeholder" />
        <br />
    }
</div>


@code {
ProjectsObj projects = new ProjectsObj();
Inputs inputsEnum = new Inputs();
}

